{% extends "layout.html" %} {% block body %}
<style>
  .custom-button {
    background-color: #a9def9;
    font-size: 90%;
    color: blue;
  }
  .custom-button2 {
    background-color: #d0f4de;
    font-size: 90%;
    color: green;
  }
  .custom-button3 {
    background-color: #fcf6bd;
    font-size: 90%;
    color: blue;
  }
  .custom-button4 {
    background-color: #ff99c8;
    font-size: 90%;
    color: rgb(84, 0, 209);
  }
  .custom-button5 {
    background-color: #e4c1f9;
    font-size: 90%;
    color: #c0005a;
  }
  h3 {
    color: rgb(224, 0, 123);
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

  .card-game {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    /* Gaya kartu ketika flipped */
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }

  .message {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    display: none;
  }

  .card-game.flipped {
    transform: rotateY(180deg);
  }

  .card-inner {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; /* Menambahkan overflow: hidden untuk memotong gambar jika perlu */
  }

  .card-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Menggunakan object-fit: cover untuk mengisi area tanpa mempertahankan proporsi asli */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .card-game.flipped .card-inner {
    display: block;
  }

  .matched-card {
    display: none;
  }

  .front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<div class="container-fluid" style="margin-top: 10px">
  <div class="row">
    <div class="col-md-4">
      <h3>Filter dan Efek ✧</h3>
      <div style="max-height: calc(100vh - 120px); overflow-y: auto">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Umum</h5>
            <div class="d-flex flex-wrap">
              <div class="p-2 flex-fill bd-highlight">
                <form
                  id=""
                  action="{{ url_for('normal') }}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <button
                    type="submit"
                    class="btn btn-primary btn-block custom-button"
                  >
                    Normal
                  </button>
                </form>
              </div>
              <div class="p-2 flex-fill bd-highlight">
                <form
                  id=""
                  action="{{ url_for('grayscale') }}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <button
                    type="submit"
                    class="btn btn-primary btn-block custom-button"
                  >
                    Grayscale
                  </button>
                </form>
              </div>
              <div class="p-2 flex-fill bd-highlight">
                <form
                  id=""
                  action="{{ url_for('zoomin') }}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <button
                    type="submit"
                    class="btn btn-primary btn-block custom-button"
                  >
                    Zoom In
                  </button>
                </form>
              </div>
              <div class="p-2 flex-fill bd-highlight">
                <form
                  id=""
                  action="{{ url_for('zoomout') }}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <button
                    type="submit"
                    class="btn btn-primary btn-block custom-button"
                  >
                    Zoom Out
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Pergeseran -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pergeseran</h5>
            <div class="d-flex flex-wrap">
              <div class="p-2 flex-fill bd-highlight">
                <form
                  id=""
                  action="{{ url_for('move_left') }}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <button
                    type="submit"
                    class="btn btn-primary btn-block custom-button2"
                  >
                    Geser Kiri
                  </button>
                </form>
              </div>
              <div class="p-2 flex-fill bd-highlight">
                <form
                  id=""
                  action="{{ url_for('move_right') }}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <button
                    type="submit"
                    class="btn btn-primary btn-block custom-button2"
                  >
                    Geser Kanan
                  </button>
                </form>
              </div>
              <div class="p-2 flex-fill bd-highlight">
                <form
                  id=""
                  action="{{ url_for('move_up') }}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <button
                    type="submit"
                    class="btn btn-primary btn-block custom-button2"
                  >
                    Geser Atas
                  </button>
                </form>
              </div>
              <div class="p-2 flex-fill bd-highlight">
                <form
                  id=""
                  action="{{ url_for('move_down') }}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <button
                    type="submit"
                    class="btn btn-primary btn-block custom-button2"
                  >
                    Geser Bawah
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Penerangan -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Penerangan</h5>
            <div class="d-flex flex-wrap">
              <div class="p-2 flex-fill bd-highlight">
                <form
                  id=""
                  action="{{ url_for('brightness_multiplication') }}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <button
                    type="submit"
                    class="btn btn-primary btn-block custom-button3"
                  >
                    Terang (*)
                  </button>
                </form>
              </div>
              <div class="p-2 flex-fill bd-highlight">
                <form
                  id=""
                  action="{{ url_for('brightness_division') }}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <button
                    type="submit"
                    class="btn btn-primary btn-block custom-button3"
                  >
                    Gelap (/)
                  </button>
                </form>
              </div>
              <div class="p-2 flex-fill bd-highlight">
                <form
                  id=""
                  action="{{ url_for('brightness_addition') }}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <button
                    type="submit"
                    class="btn btn-primary btn-block custom-button3"
                  >
                    Terang (+)
                  </button>
                </form>
              </div>
              <div class="p-2 flex-fill bd-highlight">
                <form
                  id=""
                  action="{{ url_for('brightness_substraction') }}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <button
                    type="submit"
                    class="btn btn-primary btn-block custom-button3"
                  >
                    Gelap (-)
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Filter Gambar -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Filtering</h5>
            <div class="d-flex flex-wrap">
              <div class="p-2 flex-fill bd-highlight">
                <form
                  id=""
                  action="{{ url_for('edge_detection') }}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <button
                    type="submit"
                    class="btn btn-primary btn-block custom-button4"
                  >
                    Edge Detection
                  </button>
                </form>
              </div>
              <div class="p-2 flex-fill bd-highlight">
                <form
                  id=""
                  action="{{ url_for('blur') }}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <button
                    type="submit"
                    class="btn btn-primary btn-block custom-button4"
                  >
                    Blur
                  </button>
                </form>
              </div>
              <div class="p-2 flex-fill bd-highlight">
                <form
                  id=""
                  action="{{ url_for('sharpening') }}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <button
                    type="submit"
                    class="btn btn-primary btn-block custom-button4"
                  >
                    Sharpening
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Analisis dan Pemrosesan -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Analisis & Pemrosesan</h5>
            <div class="d-flex flex-wrap">
              <div class="p-2 flex-fill bd-highlight">
                <form
                  id=""
                  action="{{ url_for('histogram_rgb') }}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <button type="submit" class="btn btn-primary custom-button5">
                    Histogram
                  </button>
                </form>
              </div>
              <div class="p-2 flex-fill bd-highlight">
                <form
                  id=""
                  action="{{ url_for('histogram_equalizer') }}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <button type="submit" class="btn btn-primary custom-button5">
                    Histogram Equalizer
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Segmentation -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Segmentation</h5>
            <form
              id=""
              action="{{ url_for('thresholding') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="form-row align-items-center">
                <label for="lower_thres">Batas Bawah</label>
                <input
                  type="number"
                  class="form-control"
                  name="lower_thres"
                  placeholder="0-255"
                />
                <label for="upper_thres">Batas Atas</label>
                <input
                  type="number"
                  class="form-control"
                  name="upper_thres"
                  placeholder="0-255"
                />
                <label>&nbsp;</label>
                <!-- Label kosong untuk spacing -->
                <button
                  type="submit"
                  class="btn btn-primary btn-block custom-button"
                >
                  Thresholding
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- Puzzle -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Puzzle Image</h5>
            <form
              id=""
              action="{{ url_for('puzzle') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="form-row align-items-center">
                <label for="num-rows">Input value</label>
                <input
                  type="number"
                  min="1"
                  max="10"
                  class="form-control"
                  name="size"
                  placeholder="1-10"
                />
                <label>&nbsp;</label>
                <!-- Label kosong untuk spacing -->
                <button
                  type="submit"
                  class="btn btn-primary btn-block custom-button2"
                >
                  Create Puzzle
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- Random Puzzle -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Random Puzzle Image</h5>
            <form
              id=""
              action="{{ url_for('random_puzzle') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="form-row align-items-center">
                <label for="num-rows">Input value</label>
                <input
                  type="number"
                  min="1"
                  max="10"
                  class="form-control"
                  name="size"
                  placeholder="1-10"
                />
                <label>&nbsp;</label>
                <!-- Label kosong untuk spacing -->
                <button
                  type="submit"
                  class="btn btn-primary btn-block custom-button3"
                >
                  Create Random Puzzle
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- Dimensions Image -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Get Dimensions Images</h5>
            <form method="post" action="{{ url_for('show_image_values') }}">
              <button
                type="submit"
                class="btn btn-primary btn-block custom-button4"
              >
                Dapatkan Dimensi
              </button>
            </form>
          </div>
        </div>

        <!-- Filtering Image -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Filtering Images</h5>
            <form method="post" action="{{ url_for('zero_padding') }}">
              <button
                type="submit"
                class="btn btn-primary btn-block custom-button5"
              >
                Zero Padding
              </button>
            </form>
            <br />
            <form method="post" action="{{ url_for('lowFilterPass') }}">
              <button
                type="submit"
                class="btn btn-primary btn-block custom-button"
              >
                Lowpass Filter
              </button>
            </form>
            <br />
            <form method="post" action="{{ url_for('highFilterPass') }}">
              <button
                type="submit"
                class="btn btn-primary btn-block custom-button2"
              >
                Highpass Filter
              </button>
            </form>
            <br />
            <form method="post" action="{{ url_for('bandFilterPass') }}">
              <button
                type="submit"
                class="btn btn-primary btn-block custom-button3"
              >
                Bandpass Filter
              </button>
            </form>
          </div>
        </div>

        <!-- Custom blurring Image -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Custom Filtering Images</h5>
            <form
              id=""
              action="{{ url_for('lowpass_filter') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="form-row align-items-center">
                <h6 class="card-title">Lowpass Blur</h6>
                <br />
                <input
                  type="number"
                  class="form-control"
                  name="size"
                  min="0"
                  max="10"
                  placeholder="Input value"
                />
                <label>&nbsp;</label>
                <!-- Label kosong untuk spacing -->
                <button
                  type="submit"
                  class="btn btn-primary btn-block custom-button5"
                >
                  Generate
                </button>
              </div>
            </form>

            <form
              id=""
              action="{{ url_for('highpass_filter') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="form-row align-items-center">
                <h6 class="card-title" style="margin-top: 10px">
                  Highpass Blur
                </h6>
                <br />
                <input
                  type="number"
                  class="form-control"
                  name="size"
                  min="0"
                  max="10"
                  placeholder="Input value"
                />
                <label>&nbsp;</label>
                <!-- Label kosong untuk spacing -->
                <button
                  type="submit"
                  class="btn btn-primary btn-block custom-button"
                >
                  Generate
                </button>
              </div>
            </form>

            <form
              id=""
              action="{{ url_for('bandpass_filter') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="form-row align-items-center">
                <h6 class="card-title" style="margin-top: 10px">
                  Bandpass Blur
                </h6>
                <br />
                <input
                  type="number"
                  class="form-control"
                  name="size"
                  min="0"
                  max="10"
                  placeholder="Input value"
                />
                <label>&nbsp;</label>
                <!-- Label kosong untuk spacing -->
                <button
                  type="submit"
                  class="btn btn-primary btn-block custom-button2"
                >
                  Generate
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- New Custom Blurring -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Custom Blurring</h5>
            <form
              id=""
              action="{{ url_for('newBlurring') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="form-row align-items-center">
                <h6 class="card-title">Blurring</h6>
                <br />
                <input
                  type="number"
                  class="form-control"
                  name="size"
                  min="0"
                  max="10"
                  placeholder="Input value"
                />
                <label>&nbsp;</label>
                <!-- Label kosong untuk spacing -->
                <button
                  type="submit"
                  class="btn btn-primary btn-block custom-button3"
                >
                  Generate
                </button>
              </div>
            </form>

            <form
              id=""
              action="{{ url_for('gaussianBlur') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="form-row align-items-center">
                <h6 class="card-title" style="margin-top: 10px">
                  Gaussian Blur
                </h6>
                <br />
                <input
                  type="number"
                  class="form-control"
                  name="size"
                  min="0"
                  max="10"
                  placeholder="Input value"
                />
                <label>&nbsp;</label>
                <!-- Label kosong untuk spacing -->
                <button
                  type="submit"
                  class="btn btn-primary btn-block custom-button4"
                >
                  Generate
                </button>
              </div>
            </form>

            <form
              id=""
              action="{{ url_for('medianBlur') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="form-row align-items-center">
                <h6 class="card-title" style="margin-top: 10px">Median Blur</h6>
                <br />
                <input
                  type="number"
                  class="form-control"
                  name="size"
                  min="0"
                  max="10"
                  placeholder="Input value"
                />
                <label>&nbsp;</label>
                <!-- Label kosong untuk spacing -->
                <button
                  type="submit"
                  class="btn btn-primary btn-block custom-button5"
                >
                  Generate
                </button>
              </div>
            </form>

            <form
              id=""
              action="{{ url_for('bilateral_filter') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="form-row align-items-center">
                <h6 class="card-title" style="margin-top: 10px">
                  Bilateral Blur
                </h6>
                <br />
                <input
                  type="number"
                  class="form-control"
                  name="size"
                  min="0"
                  max="10"
                  placeholder="Input value"
                />
                <label>&nbsp;</label>
                <!-- Label kosong untuk spacing -->
                <button
                  type="submit"
                  class="btn btn-primary btn-block custom-button"
                >
                  Generate
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- Process Image -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Matching Image Game!</h5>
            <form method="post" action="{{ url_for('process_images') }}">
              <button
                type="submit"
                class="btn btn-primary btn-block custom-button4"
                name="process_button"
              >
                Play
              </button>
            </form>
          </div>
        </div>

        <!-- Recognition Numbers -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Recognition Numbers</h5>
            <form method="post" action="{{ url_for('detection_numbers') }}">
              <button
                type="submit"
                class="btn btn-primary btn-block custom-button5"
              >
                Recognize now
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h3>Result ノ彡*★,°*</h3>
      <div class="text-center">
        <div id="imageDimensions"></div>
        <div style="margin-top: 25px">
          <div style="margin-bottom: 10px">
            <div class="message">
              <!-- Tempatkan pesan kemenangan di sini -->
            </div>
            <div class="score">Score: 0</div>
            <!-- Menampilkan skor -->
            <button class="btn btn-dark" id="reset-button">Reset</button>
          </div>
          <div class="card-grid" id="game-board">
            {% for image in processed_images %}
            <div class="card-game" data-image="{{ image }}">
              <div class="card-inner">
                <img class="front" src="{{ image }}" alt="" />
                <div class="back"></div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const cards = document.querySelectorAll(".card-game");
  let flippedCards = [];
  let matchedCards = [];
  let score = 0; // Tambahkan variabel skor

  // Fungsi untuk mengacak urutan kartu
  function shuffle(array) {
    for (let i = array.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      [array[i], array[j]] = [array[j], array[i]];
    }
  }

  function handleCardClick() {
    const card = this;

    if (
      flippedCards.length < 2 &&
      !flippedCards.includes(card) &&
      !card.classList.contains("flipped")
    ) {
      flippedCards.push(card);
      card.classList.add("flipped");

      if (flippedCards.length === 2) {
        setTimeout(checkForMatch, 1000);
      }
    }
  }

  function checkForMatch() {
    const [card1, card2] = flippedCards;

    if (card1.getAttribute("data-image") === card2.getAttribute("data-image")) {
      matchedCards.push(card1, card2);
      flippedCards = [];
      score += 1; // Tambahkan skor jika kartu match
      updateScore(); // Perbarui tampilan skor

      if (matchedCards.length === cards.length) {
        updateMessage("Congratulations! You won!");
      }
    } else {
      setTimeout(() => {
        card1.classList.remove("flipped");
        card2.classList.remove("flipped");
        flippedCards = [];
      }, 1000);
    }
  }

  function resetGame() {
    cards.forEach((card) => {
      card.classList.remove("flipped");
    });

    shuffledCards = shuffle([...cards]);
    flippedCards = [];
    matchedCards = [];
    score = 0; // Reset skor saat permainan diulang
    updateScore(); // Perbarui tampilan skor
    updateMessage("Good luck!");
  }

  // ...

  function removeMatchedCards() {
    matchedCards.forEach((card) => {
      card.style.display = "none";
    });
  }

  function checkForMatch() {
    const [card1, card2] = flippedCards;

    if (card1.getAttribute("data-image") === card2.getAttribute("data-image")) {
      matchedCards.push(card1, card2);
      flippedCards = [];
      score += 1;
      updateScore();

      if (matchedCards.length === cards.length) {
        updateMessage("Congratulations! You won!");
      }

      // Hapus kartu-kartu yang sudah match
      removeMatchedCards();
    } else {
      setTimeout(() => {
        card1.classList.remove("flipped");
        card2.classList.remove("flipped");
        flippedCards = [];
      }, 1000);
    }
  }

  document.getElementById("game-board").addEventListener("click", function (e) {
    if (e.target.classList.contains("card-game")) {
      handleCardClick.call(e.target);
    }
  });

  document.getElementById("reset-button").addEventListener("click", resetGame);

  function updateMessage(message) {
    const messageElement = document.querySelector(".message");
    messageElement.textContent = message;
    messageElement.style.display = "block";
  }

  function updateScore() {
    const scoreElement = document.querySelector(".score");
    scoreElement.textContent = `Score: ${score}`;
  }

  // Inisialisasi permainan
  resetGame();
</script>
{% endblock %}
